@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'pf_din_text_cond_probold'
  'pf_din_text_cond_prolight'
  'pf_din_text_cond_promedium'
  'pf_din_text_cond_proregular'

*/
  

body {
  background: #282735;
  color: #d6dbe5;
  font: 16px/1.3 'pf_din_text_cond_proregular';
  a {color: #d6dbe5;}
  img {display: block;}
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  background: url(i/body.jpg) #191827 no-repeat 50% 55px;
}

.wrapper {
  width: 974px;
  margin: 0 auto;
}

header, footer {
  color: #d6dbe5;
  background: #000;
}

header {
  height: 55px;
  line-height: 55px;
  a.site, a.via, .phone {
    float: left;
  }
  a.via {
    width: 185px;
    margin: 0 auto;
    float: none;
    display: block;
  }
  a.site {font-size: 18px;padding-left: 180px;}
  .phone {font-size: 24px;float: right;padding-right: 150px;}
}

.window {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  display: none;
  overflow: auto;
  .box {
    background: #fff;
    width: 800px;
    margin: 50px auto 50px;
    padding: 10px 20px;
    font-size: 14px;
    .box-sizing(border-box);
    .border-radius(10px);
    color: #000;
    #map-canvas, #map-canvas1 {
      width: 100%;
      height: 400px;
    }
    .label {
      font-size: 24px;
      border-bottom: 1px solid #404040;
      margin-bottom: 15px;
      a.close {float: right;img{display: inline-block;}}
    }
    p {
      margin-bottom: 10px;
    }
    h4 {margin-bottom: 15px;font-size: 18px;}
    table {
      width: 100%;
      margin-bottom: 15px;
      td {
        padding: 5px 0;
        &:first-child {padding-right: 40px;}
      }
    }
    .left {
      width: 450px;
      float: left;
    }
    .right {
      width: 265px;
      float: right;
      img {margin-top: -73px;margin-bottom: 25px;}
    }
  }
}

section.ship {
  float: left;
  width: 475px;
  background: rgba(25, 24, 39, 0.8);
  margin: 0 0 30px;
  &.right {
    margin-left: 24px;
  }
  .image {
    height: 206px;
    position: relative;
    .hover {
      position: absolute;width: 100%;height: 100%;top: 0;
      left: 0;z-index: 4000;background: #07377a;color: #ffffff;
      padding: 25px 20px;.box-sizing(border-box);display: none;
      p {margin-bottom: 25px;}
      p.wrap_btn {text-align: center;}
      a.btn {
        display: inline-block;.vertical(#0e4d8c, #042864);border: 2px solid #fff;
        text-decoration: none;.box-shadow(0px 1px 5px rgba(0, 0, 0, 0.5));
        .border-radius(10px);font-size: 12px;padding: 5px 10px;color: #fff;
      }
    }
    &:hover .hover {display: block;}
    .im {
      position: relative;
      h4 {
        position: relative;z-index: 3000;font-size: 48px;color: #fff;text-align: center;
        font-family: 'pf_din_text_cond_probold';text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
        padding: 15px 0;
      }
      .add {
        position: relative;z-index: 3000;
        img {
          margin: 0 auto;
        }
      }
      img.bg {position: absolute;top: 0;left: 0;}
    }
  }
  .info {
    .headers {
      padding: 10px 0;
      text-align: center;
      p.name, h4 {
        color: #51cbff;
        font-size: 18px;
        text-align: center;
      }
      h4 {
        font-size: 30px;
        display: inline-block;
        border-bottom: 1px solid #214058;
        line-height: 28px;
        a {color: #51cbff;text-decoration: none;}
      }
    }
    .stats {
      .days {
        float: left;
        width: 50px;
        height: 50px;
        background: url(i/days.png) no-repeat;
        line-height: 16px;
        text-align: center;
        .box-sizing(border-box);
        padding: 10px 0 0;
        font-size: 14px;
        color: #fff;
        strong {
          font-size: 30px;
          display: block;
        }
      }
      .way {
        font-size: 14px;
        margin: 0 110px 0 85px;
        padding: 10px 0 0;
      }
      .map {
        float: right;
        padding: 10px 0 0;
      }
    }
    .price {
      h5 {
        text-align: center;
        font-size: 24px;
        color: #fff;
        padding: 40px 0 10px;
      }
      .tabs {
        .labels {
          background: #4a424b;
          text-align: center;
          margin: 0 0 15px;
          .label {
            display: inline-block;
            padding: 10px 10px;
            a {
              font-size: 16px;
              color: #fff;
              border-bottom: 1px dashed #fff;
              text-decoration: none;
            }
            &.active {
              background: url(i/str.png) bottom center no-repeat;
            }
            &.active a {
              color: #44a0d3;
              border-bottom: none;
            }
          }
        }
        .tb {
          border-bottom: 1px solid #2d2c37;
          padding-bottom: 30px;
          margin-bottom: 15px;
          display: none;
          &.active {display: block;}
        }
        p {text-align: center;font-size: 14px;color: #b1b5c0;}
        a.btn {
          margin-top: 15px;
          .vertical(#d70079, #c1004f);
          text-decoration: none;
          font-size: 16px;
          color: #fff;
          line-height: 26px;
          display: inline-block;
          padding: 2px 20px 7px;
          .border-radius(10px);
          big {
            font-size: 30px;
            display: block;
          }
        }
        table {
          width: 100%;
          text-align: center;
          tr:not(:first-child):hover {
            background: #32304e;
          }
          td {padding: 7px 0 6px;font-size: 14px;strong{font-size: 20px;}}
          img {display: block;margin: 10px auto 0;}
          th {font-size: 12px;color: #44a0d3;line-height: 12px;text-transform: uppercase;padding: 0 0 20px;}
        }
      }
    }
  }
}

section.slogans {
  font-size: 36px;
  font-family: 'pf_din_text_cond_probold';
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 80px 0;
  h1 {
    font-size: 60px;
  }
}

section.text {
  color: #d6dbe5;
  padding: 30px 0 15px;
  border-top: 1px solid #30303d;
  img {float: left;margin: 0 15px 10px 0;}
  h3, p {margin-bottom: 15px;}
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
    &.hide {display: none;}
  }
  a {
    font-size: 18px;
  }
}

footer {
  font-size: 14px;
  .cols {
    .box-sizing(border-box);
    padding: 0 30px;
    .col {
      float: left;
      width: 23.3%;
      padding: 0 15% 0 0;
      margin: 0 0 10px;
      img {
        margin-bottom: 10px;
      }
      &.last {padding: 0;}
    }
  }
  a {
    color: #44a0d3;
  }
  h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'pf_din_text_cond_prolight';
    margin: 0 0 15px;
    strong {font-family: 'pf_din_text_cond_probold';}
  }
  p {
    margin: 0 0 10px;
  }
  .copyright {
    border-top: 1px solid #201e1f;
    text-decoration: underline;
    text-align: center;
    padding: 13px 0;
  }
}