/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'pf_din_text_cond_probold';
  src: url('fonts/pfdintextcondpro-bold-webfont.eot');
  src: url('fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfdintextcondpro-bold-webfont.woff') format('woff'), url('fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_din_text_cond_prolight';
  src: url('fonts/pfdintextcondpro-light-webfont.eot');
  src: url('fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfdintextcondpro-light-webfont.woff') format('woff'), url('fonts/pfdintextcondpro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_din_text_cond_promedium';
  src: url('fonts/pfdintextcondpro-medium-webfont.eot');
  src: url('fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfdintextcondpro-medium-webfont.woff') format('woff'), url('fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_din_text_cond_proregular';
  src: url('fonts/pfdintextcondpro-regular-webfont.eot');
  src: url('fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfdintextcondpro-regular-webfont.woff') format('woff'), url('fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'pf_din_text_cond_probold'
  'pf_din_text_cond_prolight'
  'pf_din_text_cond_promedium'
  'pf_din_text_cond_proregular'

*/
body {
  background: #282735;
  color: #d6dbe5;
  font: 16px/1.3 'pf_din_text_cond_proregular';
}
body a {
  color: #d6dbe5;
}
body img {
  display: block;
}
.wrap {
  max-width: 1400px;
  margin: 0 auto;
  background: url(i/body.jpg) #191827 no-repeat 50% 55px;
}
.wrapper {
  width: 974px;
  margin: 0 auto;
}
header,
footer {
  color: #d6dbe5;
  background: #000;
}
header {
  height: 55px;
  line-height: 55px;
}
header a.site,
header a.via,
header .phone {
  float: left;
}
header a.via {
  width: 185px;
  margin: 0 auto;
  float: none;
  display: block;
}
header a.site {
  font-size: 18px;
  padding-left: 180px;
}
header .phone {
  font-size: 24px;
  float: right;
  padding-right: 150px;
}
.window {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  display: none;
  overflow: auto;
}
.window .box {
  background: #fff;
  width: 800px;
  margin: 50px auto 50px;
  padding: 10px 20px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #000;
}
.window .box #map-canvas,
.window .box #map-canvas1 {
  width: 100%;
  height: 400px;
}
.window .box .label {
  font-size: 24px;
  border-bottom: 1px solid #404040;
  margin-bottom: 15px;
}
.window .box .label a.close {
  float: right;
}
.window .box .label a.close img {
  display: inline-block;
}
.window .box p {
  margin-bottom: 10px;
}
.window .box h4 {
  margin-bottom: 15px;
  font-size: 18px;
}
.window .box table {
  width: 100%;
  margin-bottom: 15px;
}
.window .box table td {
  padding: 5px 0;
}
.window .box table td:first-child {
  padding-right: 40px;
}
.window .box .left {
  width: 450px;
  float: left;
}
.window .box .right {
  width: 265px;
  float: right;
}
.window .box .right img {
  margin-top: -73px;
  margin-bottom: 25px;
}
section.ship {
  float: left;
  width: 475px;
  background: rgba(25, 24, 39, 0.8);
  margin: 0 0 30px;
}
section.ship.right {
  margin-left: 24px;
}
section.ship .image {
  height: 206px;
  position: relative;
}
section.ship .image .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4000;
  background: #07377a;
  color: #ffffff;
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
section.ship .image .hover p {
  margin-bottom: 25px;
}
section.ship .image .hover p.wrap_btn {
  text-align: center;
}
section.ship .image .hover a.btn {
  display: inline-block;
  background-color: #0a3e7c;
  background-image: -moz-linear-gradient(top, #0e4d8c, #042864);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e4d8c), to(#042864));
  background-image: -webkit-linear-gradient(top, #0e4d8c, #042864);
  background-image: -o-linear-gradient(top, #0e4d8c, #042864);
  background-image: linear-gradient(to bottom, #0e4d8c, #042864);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e4d8c', endColorstr='#ff042864', GradientType=0);
  border: 2px solid #fff;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
}
section.ship .image:hover .hover {
  display: block;
}
section.ship .image .im {
  position: relative;
}
section.ship .image .im h4 {
  position: relative;
  z-index: 3000;
  font-size: 48px;
  color: #fff;
  text-align: center;
  font-family: 'pf_din_text_cond_probold';
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  padding: 15px 0;
}
section.ship .image .im .add {
  position: relative;
  z-index: 3000;
}
section.ship .image .im .add img {
  margin: 0 auto;
}
section.ship .image .im img.bg {
  position: absolute;
  top: 0;
  left: 0;
}
section.ship .info .headers {
  padding: 10px 0;
  text-align: center;
}
section.ship .info .headers p.name,
section.ship .info .headers h4 {
  color: #51cbff;
  font-size: 18px;
  text-align: center;
}
section.ship .info .headers h4 {
  font-size: 30px;
  display: inline-block;
  border-bottom: 1px solid #214058;
  line-height: 28px;
}
section.ship .info .headers h4 a {
  color: #51cbff;
  text-decoration: none;
}
section.ship .info .stats .days {
  float: left;
  width: 50px;
  height: 50px;
  background: url(i/days.png) no-repeat;
  line-height: 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 0;
  font-size: 14px;
  color: #fff;
}
section.ship .info .stats .days strong {
  font-size: 30px;
  display: block;
}
section.ship .info .stats .way {
  font-size: 14px;
  margin: 0 110px 0 85px;
  padding: 10px 0 0;
}
section.ship .info .stats .map {
  float: right;
  padding: 10px 0 0;
}
section.ship .info .price h5 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding: 40px 0 10px;
}
section.ship .info .price .tabs .labels {
  background: #4a424b;
  text-align: center;
  margin: 0 0 15px;
}
section.ship .info .price .tabs .labels .label {
  display: inline-block;
  padding: 10px 10px;
}
section.ship .info .price .tabs .labels .label a {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
section.ship .info .price .tabs .labels .label.active {
  background: url(i/str.png) bottom center no-repeat;
}
section.ship .info .price .tabs .labels .label.active a {
  color: #44a0d3;
  border-bottom: none;
}
section.ship .info .price .tabs .tb {
  border-bottom: 1px solid #2d2c37;
  padding-bottom: 30px;
  margin-bottom: 15px;
  display: none;
}
section.ship .info .price .tabs .tb.active {
  display: block;
}
section.ship .info .price .tabs p {
  text-align: center;
  font-size: 14px;
  color: #b1b5c0;
}
section.ship .info .price .tabs a.btn {
  margin-top: 15px;
  background-color: #ce0068;
  background-image: -moz-linear-gradient(top, #d70079, #c1004f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d70079), to(#c1004f));
  background-image: -webkit-linear-gradient(top, #d70079, #c1004f);
  background-image: -o-linear-gradient(top, #d70079, #c1004f);
  background-image: linear-gradient(to bottom, #d70079, #c1004f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd70079', endColorstr='#ffc1004f', GradientType=0);
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  display: inline-block;
  padding: 2px 20px 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
section.ship .info .price .tabs a.btn big {
  font-size: 30px;
  display: block;
}
section.ship .info .price .tabs table {
  width: 100%;
  text-align: center;
}
section.ship .info .price .tabs table tr:not(:first-child):hover {
  background: #32304e;
}
section.ship .info .price .tabs table td {
  padding: 7px 0 6px;
  font-size: 14px;
}
section.ship .info .price .tabs table td strong {
  font-size: 20px;
}
section.ship .info .price .tabs table img {
  display: block;
  margin: 10px auto 0;
}
section.ship .info .price .tabs table th {
  font-size: 12px;
  color: #44a0d3;
  line-height: 12px;
  text-transform: uppercase;
  padding: 0 0 20px;
}
section.slogans {
  font-size: 36px;
  font-family: 'pf_din_text_cond_probold';
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 80px 0;
}
section.slogans h1 {
  font-size: 60px;
}
section.text {
  color: #d6dbe5;
  padding: 30px 0 15px;
  border-top: 1px solid #30303d;
}
section.text img {
  float: left;
  margin: 0 15px 10px 0;
}
section.text h3,
section.text p {
  margin-bottom: 15px;
}
section.text h3 {
  font-size: 30px;
}
section.text p {
  font-size: 16px;
}
section.text p.hide {
  display: none;
}
section.text a {
  font-size: 18px;
}
footer {
  font-size: 14px;
}
footer .cols {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
}
footer .cols .col {
  float: left;
  width: 23.3%;
  padding: 0 15% 0 0;
  margin: 0 0 10px;
}
footer .cols .col img {
  margin-bottom: 10px;
}
footer .cols .col.last {
  padding: 0;
}
footer a {
  color: #44a0d3;
}
footer h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'pf_din_text_cond_prolight';
  margin: 0 0 15px;
}
footer h4 strong {
  font-family: 'pf_din_text_cond_probold';
}
footer p {
  margin: 0 0 10px;
}
footer .copyright {
  border-top: 1px solid #201e1f;
  text-decoration: underline;
  text-align: center;
  padding: 13px 0;
}
