@font-face {
  font-family: 'pf_din_text_cond_probold';
  src: url('pfdintextcondpro-bold-webfont.eot');
  src: url('pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('pfdintextcondpro-bold-webfont.woff') format('woff'),
     url('pfdintextcondpro-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_prolight';
  src: url('pfdintextcondpro-light-webfont.eot');
  src: url('pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('pfdintextcondpro-light-webfont.woff') format('woff'),
       url('pfdintextcondpro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_promedium';
  src: url('pfdintextcondpro-medium-webfont.eot');
  src: url('pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('pfdintextcondpro-medium-webfont.woff') format('woff'),
       url('pfdintextcondpro-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_proregular';
  src: url('pfdintextcondpro-regular-webfont.eot');
  src: url('pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('pfdintextcondpro-regular-webfont.woff') format('woff'),
       url('pfdintextcondpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}